#head {
    background-image: url("./WinterAbstract.jpg");
    padding: 50px;
    padding-bottom: 70px;   
}

#title, #subtitle {
    color: rgb(248, 74, 216);
    font-weight: 700;
}

#title {
    font-size: 50px;
}

#project1Img {
    padding: 0px;
}