#head {
    background-image: url("./WinterAbstract.jpg");
    padding: 50px;
    padding-bottom: 70px;   
}

#title, #subtitle {
    color: rgb(0, 0, 0);
    font-weight: 700;
    border: none;
}

#title {
    font-size: 50px;
}

#projectTitle, #projectSubTitle, #quizTitle, #quizSubTitle {
    color: rgb(87, 11, 11);
}

.subtitle {
    padding-bottom: 10px;
    border-bottom: 5px solid white;
}

/* #project1Img {
    padding: 0px;
} */